<!DOCTYPE html>
<html>
<head>
    <title>eBayListinator</title>
</head>
<body>
    <h2>eBayListinator</h2>
    <form method="post" action="/generate">
        <label>Photo URL: (Download link for image)</label><br>
        <input type="text" name="photoURL"><br><br>

        <label>Short Title:</label><br>
        <input type="text" name="shortTitle"><br><br>

        <label>Full Title:</label><br>
        <input type="text" name="fullTitle"><br><br>

        <label>Listing Type (0 = Coins, 1 = Bullion, 2 = Jewelry):</label><br>
        <input type="text" name="listingType" value="0"><br><br>

        <label>Shipping (0 = Free, 1 = $2.49):</label><br>
        <input type="text" name="SHIPPING" value="0"><br><br>

        <label>Item SKU (comma-separated):</label><br>
        <input type="text" name="itemSKU"><br><br>

        <label>Custom Label SKU (comma-separated):</label><br>
        <input type="text" name="customLableSKU"><br><br>

        <label>Item SKU (comma-separated):</label><br>
        <input type="text" name="prices"><br><br>

        <label>Starting SKU (comma-separated):</label><br>
        <input type="text" name="startingSKU"><br><br>

        <label>Number of Listings (comma-separated):</label><br>
        <input type="text" name="numberOfListings"><br><br>

        <input type="submit" value="Generate CSV">
    </form>
</body>
</html>
